<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Dump <%= account.username %></title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/directory_open_file_mydocs-4.png">
</head>
<body>
    <% postOpen = false %>
    <%- include("_title.ejs") %>
    <h2><%= account.username %></h2>
    <div id="toolbar">
        <% if (user) { %>
            <% if (user.id === account.id) { %>
                <a href="/post">Create a post</a>
                <form action="/login?_method=DELETE" method="POST">
                    <button class="linkButton">Logout</button>
                </form>
            <% } %>
        <% } %>
    </div>
    
    <div id="accountDetails">
        Account details
        <div>
            Username: <%= account.username %>
        </div>
        <div>
            Created: <%= account.created.toLocaleString() %>
        </div>
        <div>
            Posts: <%= posts.length %>
        </div>
        <div>
            Post views:
        </div>
        <div>
            Last online: <%= account.lastOnline.toLocaleString() %>
        </div>
        <div>
            About:
            <div>
                <pre><%= account.about %></pre>
            </div>
        </div>
    </div>
    
    <% if (user) { %>
        <% if (user.id == account.id) { %>
            <a href="<%= account.username %>/edit" id="editAccount">Edit</a>
        <% } %>
    <% } %>
    
    <%- include("_sort.ejs") %>
    
    <% if (posts.length > 0) { %>
        <%- include("_posts.ejs") %>
    <% } else { %>
        No posts here
        <% if (user) { %>
            <% if (user.id === account.id) { %>
                <a href="/post">Create a post</a>
            <% } %>
        <% } %>
    <% } %>
    <%- include("_information.ejs") %>
</body>
</html>