<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Dump</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="/directory_open_file_mydocs-4.png">
</head>
<body>
    <%- include("_title.ejs", { postOpen: false }) %>
    <h2>Dump all your files!</h2>
    <div id="toolbar">
        <a href="post">Create a post</a>
        <a href="/about" id="about">About</a>
        <% if (user) { %>
            <div id="notifications">
                <a href="/notifications" id="notificationsLink">
                    Notifications
                    <% if (userNotifications.length > 0) { %>
                        (<%= userNotifications.length %>)
                    <% } %>
                </a>

                <div id="notificationsMenu">
                    <% if (userNotifications.length === 0) { %>
                        No new notifications.
                    <% } %>

                    <% for (let i = 0; i < userNotifications.length; i++) { %>
                        <div class="notification">
                            <a href="<%= userNotifications[i].link %>"><%= notificationMessages[userNotifications[i].notificationId] %> (<%= userNotifications[i].count %>)</a>
                        </div>
                    <% } %>
                </div>
            </div>
            
            <a href="/user/<%= user.username %>" id="account"><%= user.username %></a>
        <% } else { %>
            <a href="login" id="account">Login</a>
        <% } %>
    </div>

    <%- include("_sort.ejs") %>

    <%- include("_posts.ejs") %>

    <% if (page > 1) { %>
        <a href="/?page=<%= page - 1 %>">Prev</a>
    <% } %>

    <% if (page < maxPage) { %>
        <a href="/?page=<%= page + 1 %>">Next</a>
    <% } %>

    <%- include("_donate.ejs") %>
    <%- include("_information.ejs") %>
</body>
</html>