<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File dump</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/directory_open_file_mydocs-4.png">
</head>
<body>
    <% postOpen = true %>
    <%- include("_title.ejs") %>
    <h2><%= post.title %></h2>
    <%= post.created.toLocaleString() %>
    <div>
        Posted by:
        <a href="/user/<%= post.username %>"><%= post.username %></a>
    </div>

    <div id="postViews">
        Views:
        <%= post.views %>
    </div>

    <% if (post.description) { %>
        <div id="postDescription">
            Description:
            <pre><%= post.description %></pre>
        </div>
    <% } %>

    <% if (files) { %>
        <div id="postFiles">
            Files:
            <% for (let i = 0; i < files.length; i++) { %>
                <div class="file">
                    <%= files[i].originalFileName %>

                    <div class="fileSize">
                        <%= files[i].size %>
                        MB
                    </div>

                    <div>
                        <a href="/user_uploads/<%= files[i].fileName %>">Show</a>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>

    <div id="comments">
        Comments
    
    <div id="createComment">
        <% if (user) { %>
            <% if (canComment) { %>
                <form action="" method="POST">
                    <textarea required name="comment" id="comment" cols="30" rows="10" maxlength="2048" placeholder="Comment on post."></textarea>
                    <button>Post comment</button>
                </form>
            <% } %>
        <% } else { %>
            <a href="/login">Login</a>
            or
            <a href="/register">register</a>
            to post comments.
        <% } %>

        <%= commentMessage %>
    </div>

    <div id="postComments">
        <% for (let i = 0; i < comments.length; i++) { %>
            <div class="comment">
                <a href="/user/<%= comments[i].username %>"><%= comments[i].username %></a>
                <div class="textGrayed">
                    <%= comments[i].created.toLocaleString() %>
                </div>
                <pre><%= comments[i].comment %></pre>
                
                <% if (user) { %>
                    <% if (user.id === comments[i].userId || user.admin) { %>
                        <form action="/post/<%= post.id %>/comment/<%= comments[i].id %>?_method=DELETE" method="POST" class="deletePostForm">
                            <button type="submit" class="deletePost">Delete</button>
                        </form>
                    <% } %>
                <% } %>
            </div>
        <% } %>
    </div>
    </div>

    <%- include("_information.ejs") %>
</body>
</html>